@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

button {
  padding: 10px 20px;
  color: #fff;
  font-size: 1.2rem;
  background-color: #000;
  border: none;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

input {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 1.1rem;
}

input::placeholder {
  color: #fff;
  font-style: italic;
}

.alert {
  padding: 10px;
  background-color: #555;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 1.2rem;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
